# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/node_modules/
# dependencies
node_modules
/backend/logs/reqLog.log/
node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
backend/logs/reqLog.log
node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
.env
*.log
.vscode/launch.json
/logs/
*.log
backend/logs/reqLog.log
backend/logs/reqLog.log
backend/logs/error.log
backend/logs/reqLog.log
