<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Generic Profile</title>
</head>
<body>
    <div id = "username"></div>
    <div id = "usersRealName">
        <div id = "firstname"></div>
        <div id = "lastname"></div>
    </div>
    <h1>weight</h1>
    <div id = "weight"></div>
    <h1>height</h1>
    <div id = "height"></div>
    <h1>bmi</h1>
    <div id = "bmi"></div>
    <h1>steps</h1>
    <div id = "steps"></div>
    <script type="module" src="../controllers/displayProfile.js"></script>
</body>
</html>